.modal-wrapper {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    display: grid;
    grid-template-columns: 145px 1fr 53px;
    width: 60%;
    margin: 200px auto;
    border-radius: 0;
}

.modal-content * {
    padding: 16px;
    margin: 0;
}

#title {
    font-size: 24px;
    grid-column: 1/3;
    grid-row: 1/2;
}

h2, h3 {
    font-size: 16px;
    padding: 16px !important;
    margin: 0;
}

span {
    padding: 0 !important;
}

#close {
    width: 53px;
    height: auto;
    padding: 19.9px 16px ;
    margin: 0 auto;
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #ece4da;
}

#close:hover {
    cursor: pointer;
    background-color: #dad2ca;
}

#description-header {
    grid-column: 1/2 !important;
    grid-row: 2/3;
    font-weight: 700;
}

#description {
    grid-column: 2/4;
    grid-row: 2/3;
}

#category-header {
    grid-column: 1/2 !important;
    grid-row: 3/4;
    font-weight: 700;
}

#category {
    grid-column: 2/4;
    grid-row: 3/4;
}

#date-header {
    grid-column: 1/2 !important;
    grid-row: 4/5;
    font-weight: 700;
}

#date {
    grid-column: 2/4;
    grid-row: 4/5
}

#fields-header {
    grid-column: 1/2;
    grid-row: 5/6;
    font-weight: 700;
}

#fields {
    grid-column: 2/4;
    grid-row: 5/6
}

#download {
    grid-column: 1/4;
    grid-row: 6/7;
    text-align: center;
    color: white;
    margin: 16px 0;
}

#download span {
    padding: 16px !important;
    margin: 16px !important;
    border-radius: 10px;
}

#download span:hover {
    cursor: pointer;
    background-color: rgb(119, 72, 32) !important;
}