/* PAGE */

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #faf7f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content * {
  padding: 5px;
  margin: 0;
}

.wrapper .banner_img {
  width: 100%;
}

.wrapper .container {
  background-color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  border-bottom: 4px solid rgb(99, 52, 2);;
}

Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 5px;
  padding-bottom: 0;
  z-index: 1;
}

#nav img {
  height: 40px;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
}

#link {
  padding-right: 15px;
  padding-left: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.line {
  height: 0.5px;
}

/* FOOTER */

.footer {
  position: interit;
  bottom: 0;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 80px;
}

.footer a {
  padding: 0;
}

/* COLORS */

.brown-text {
  color: rgb(99, 52, 2);
}

.dark-brown {
  background-color: rgb(99, 52, 2);
}

.pale-brown {
  background-color: #ece4da;
} 

/* ADD DATASET */
#google-form {
  margin: 0 auto;
  display: block;
}