/* PAGE */

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #faf7f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content * {
  padding: 5px;
  margin: 0;
}

img.banner_img {
  width: 100%;
  height: auto !important;
  padding: 0 !important;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  width: 100%;
}

.wrapper .container {
  background-color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  border-bottom: 4px solid rgb(99, 52, 2);
  z-index: 0;
  padding: 0 !important;
  width: 100%;
}

Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 0;
  z-index: 1;
}

#nav img {
  height: 40px;
  padding: 10px;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

.navbar ul a {
    text-decoration: none;
    font-weight: bold;
}

.navbar ul a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
}

#link {
  padding-right: 50px;
  padding-left: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

#nav ul * {
  color: rgb(99, 52, 2);
  font-size: 20px;
}

.logo {
  width: 150px;
  height: auto !important;
  padding: 16px !important;
}

#dropdown {
  position: relative;
  background-color: white;
  border: 2px solid rgb(99, 52, 2);
  padding: 10px;
  margin-right: 17px;
  width: 250px;
}

.dropdown-menu.show {
  display: none;
  border: none;
  z-index: -1;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#dropdown {
  top: 0;
  left: 10px;
  background-color: white;
  z-index: 1;
  text-align: center;
}

/* FOOTER */

.footer {
  position: interit;
  bottom: 0;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 80px;
}

.footer a {
  padding: 0;
}

/* COLORS */

.brown-text {
  color: rgb(99, 52, 2);
}

.dark-brown {
  background-color: rgb(99, 52, 2);
}

.pale-brown {
  background-color: #ece4da;
} 

/* ADD DATASET */
#google-form {
  margin: 0 auto;
  display: block;
}

/* ABOUT */
#aboutDiv{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#aboutUsTitle{
  text-align: left;
  color: rgb(99, 52, 2);
}
#directoryTitle{
  text-align: center;
  color: rgb(99, 52, 2);
}
#aboutDiv h2{
  text-align: center;
  font-size: 1rem;
}
#directoryDiv{
  text-align: center;
  flex-direction: row;
  display:  flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
#directoryDiv div div{
  display: inline-block;
}
#directoryDiv div div div{
  display: block;
}
#directoryDiv img{
  height: 300px;
  width: 300px;
}