/* PAGE */

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #faf7f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content * {
  padding: 5px;
  margin: 0;
}

img.banner_img {
  width: 1000px;
  height: auto !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
  width: 100%;
}

.wrapper .container {
  background-color: white;
}

/* COLORS */

.brown-text {
  color: #4E2F0F;
}

.dark-brown {
  background-color: #4E2F0F !important;
  border: none !important;
}

.pale-brown {
  background-color: #ece4da;
  display: inline-block;
} 

.white-text {
  color: white !important;
}